services:
  hmpps-subject-access-request-html-renderer:
    image: ghcr.io/ministryofjustice/hmpps-subject-access-request-html-renderer:latest
    networks:
      - hmpps
    container_name: hmpps-subject-access-request-html-renderer
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      # TODO: Remove this URL and replace with outgoing service URLs
      - EXAMPLE_URL=http://hmpps-subject-access-request-html-renderer:8080
      - SPRING_PROFILES_ACTIVE=dev

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

networks:
  hmpps:
