version: "3"
services:

  sar-db-renderer:
    image: postgres:18
    networks:
      - hmpps
    container_name: sar-db-renderer
    restart: always
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=admin_password
      - POSTGRES_USER=admin
      - POSTGRES_DB=sar-db-renderer

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack-pl
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,sqs
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

networks:
  hmpps: